# Environments
.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
dist/

# Backend Uploads and DB (Optional: you might want to exclude the DB or audio files so they don't bloat your repo)
backend/uploads/*.mp3
backend/uploads/*.wav
backend/uploads/*.m4a
# backend/uploads/lectures_db.json # Uncomment if you don't want to push your local database

# OS Files
.DS_Store
Thumbs.db

# Firebase Secrets
firebase-service-account.json
serviceAccountKey.json
firebase-adminsdk*.json

# Logs & Editor
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
.vite/
